@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
    font-family: "Poppins", serif;
    font-style: normal;
  }

.body{
    background-color: #F5F5F5;
    max-width: 1280px;
    margin: 0 auto;
}

.primary-bg{
    background-color: #C6E4D6;
}

.all-main-title{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}

.p-description{
    font-weight: 200;
    font-size: 16px;
}

.section{
    margin-bottom: 80px;
}
/* Banner */

.banner{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.banner-small-title{
    color: #0e0e0e81;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}
.banner-title{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 24px;
}
.banner-content{
    line-height: 1.2;
}


.btn-primary{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: rgb(179, 179, 89);
    color: #093568;
  }

/* Pillar */

.pillar-cards{
    display: flex;
    gap: 24px;
}

.pillar-card{
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* The Vision of Future */

.vision-cards{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.vision-card-1{
    font-family: "Fira Sans", serif;
    background-color: #D2DFF5;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    flex: 1;
    font-size: 16px;
    font-weight: 300;
}

.btn-vision-1{
    background-color: #5490F5;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}
.btn-vision-1:hover {
    background-color: rgb(179, 179, 89);
    color: #093568;
  }

.vision-card-2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    flex: 1;
}

.btn-vision-2{
    background-color: #09A15C;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}
.btn-vision-2:hover {
    background-color: rgb(179, 179, 89);
    color: #093568;
  }

.vision-card-3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    flex: 1;
}

.btn-vision-3{
    background-color: #FFC239;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}
.btn-vision-3:hover {
    background-color: rgb(179, 179, 89);
    color: #093568;
  }

.quote{
    background-color: #FFFFFF;
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.quote-description{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 25px;
    margin-bottom: 12px;
}

.quote-h4{
    font-size: 20px;
    font-weight: 600;
    color: #3E3E3E;
}

.quote-description-2{
    color: #808080;
    font-weight: 300;

}



/* Recent News */


.recent-card-1{
    display: flex;
    padding: 48px;
    background-color: #FFFFFF;
    margin-top: 32px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.recent-img{
    border-radius: 24px;
}

.recent-details-1{
    padding: 0px 0px 0px 32px;
}

.h3-title{
    font-size: 32px;
    font-weight: bold;
    color: #3E3E3E;
    margin: 0px;
}
 .btn-recent{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 13px 26px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
 }
 .btn-recent:hover {
    background-color: rgb(179, 179, 89);
    color: #093568;
  }
  .recent-description{
    font-size: 16px;
    margin: 0px;
    margin-bottom: 20px;
  }

 .recent-card-2{
    display: flex;
    background-color: #FFFFFF;
    margin-top: 32px;
    padding: 48px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.recent-details-2{
    padding: 0px 32px 0px 0px;
}

.date-time{
    display: flex;
    gap: 12px;
    flex-direction: row;
}

/* Donate Today */

.donate{
    margin-bottom: 32px;
}

.donate-title{
    text-align: center;
}

.donate-description{
    text-align: center;
    padding:  0px 40px;
}
 .donate-cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0px 60px;
 }

 .donate-card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3E3E3E;
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    flex: 1;
    margin-bottom: 32px;
 }

 .donate-card:hover {
    background-color: rgb(179, 179, 89);
    color: #093568;
}

.donate-h3{
    font-size: 40px;
    font-weight: bold;

}

.donate-card-deff{
    background-color: #C6E4D6;
}

.input{
    width: 100%;
    margin-bottom: 32px;
}

.submit{
    display: flex;
    justify-content: center;

}


.btn-donate{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 24px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}

.submit{
    padding: 0px 30px;
}

.input-taka{
    width: 100%;
    padding: 20px 0px;
    border: none;
    text-align: center;
    font-size: 20px;
}

 /* Subscribe Newsletter */

 /* .subscribe{
    align-items: center;
 }
 .text-center{
    text-align: center;
 } */